<ion-view cache-view="false">
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized" align-title="center">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="contentMenu" animation="slide-right-left"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" class="cart cart-black" width="400">
    <header class="bar bar-header">
      <h1 class="title title-white">Carrinho</h1>
    </header>
    <ion-content class="has-header">
      <div class="list" ng-repeat="product in vm.products">
        <div class="item item-thumbnail-left content-white">
          <img ng-src="http://static5.netshoes.net/Produtos/camisa-polo-corinthians-replica-9596/26/992-8792-026/992-8792-026_zoom1.jpg">
          <h2 class="product-title">{{ product.title }}</h2>
          <p class="product-style">{{ product.style }}</p>
          <p><span>Quantidade: </span>{{ product.qntCart }}</p>
          <div class="product-price">
		  	<strong>{{ product.price | stMultiply: product.qntCart | currency: product.currencyFormat : 2 }}</strong>
		  </div>
        </div>
      </div>
      <div ng-if="vm.total == 0" class="cart cart-total">
          <strong class="cart-empty">Não há produtos no carrinho</strong>
      </div>
      <div ng-if="vm.total > 0" class="cart cart-total">
          <strong class="block">{{ vm.total | currency: 'R$ ' : 2 }}</strong>
          <span class="opacity">(OU EM ATÉ 12x {{ vm.total | stDivide: 12 | currency: 'R$' : 2 }})</span>
          <div class="row cart-buttons">
              <div class="col col-50">
                    <button type="button" class="button button-outline button-assertive" ng-click="vm.clearCart()">Limpar</button>
              </div>
              <div class="col col-50">
                  <button type="button" class="button button-outline button-balanced">Comprar</button>
              </div>
          </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
</ion-view>
